@import "ios-semantic_colors.scss";

:root {
    --roundedBlockRadius: 12px;
}

* {
    margin: 0;
    padding: 0;
    --font-ui: 'Inter';
}

label, input, button, select {
    font-family: var(--font-ui);
}

h1, h2, h3, h4, h5, h6, .h7, .h8, p, .footnote, .c1, .c2, .c3, .r1, .r2, .r3, .r4, .r5 {
    font-style: normal;
    
    &.up {
        text-transform: uppercase;
    }
}

$boldStyles: (
    'h1': 800,
    'h2': 700,
    'h3': 700,
    'h4': 700,
    'h5': 600,
    '.h7': 600,
    '.h8': 600,
    'p': 600,
    '.footnote': 600,
    '.c1': 500,
    '.c2': 600,
    '.r1': 600,
    '.r2': 600,
    '.r3': 700,

);

@each $typoStyle, $boldTypoSyleWeight in $boldStyles {
    #{$typoStyle}.bold {
        font-weight: #{$boldTypoSyleWeight};
    }
}

/* Huge Title */
h1 {
    font-family: 'Bodoni Moda';
    font-weight: 400;
    font-size: 64px;
    line-height: 81px;
    letter-spacing: -0.0223px;
}

/* Large Title */
h2 {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    letter-spacing: -0.0223px;
}

/* Title 1 */
h3 {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.0220px;
    padding: 22px 0;
}

/* Title 2 */
h4 {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.0213px;
    // padding-bottom: 16px;
    transition: all 0.1s ease-in-out;

    &.scrolled {
        font-size: 20px;
        line-height: 24px;
    }
}

/* Title 3 */
h5 {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.0195px;
}

/* Headline */
h6 {
    font-family: var(--font-ui);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.0110px;
}

/* Callout */
.h7 {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.0088px;
    margin-bottom: 16px;
}

/* Subheadline */
.h8 {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.0062px;
}

/* Body */
p {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.0110px;
    margin-bottom: 16px;
    color: var(--label);
    margin-top: 0.8em;

    .bold {
        font-weight: 600;
    }
}

/* Footnote */
.footnote {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0px;
    color: var(--systemGray);
}

/* Caption 1 */
.c1 {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.0048px;
}

/* Caption 2 */
.c2 {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.0100px; 
}

/* Caption 3 */
.c3 {
    font-family: var(--font-ui);
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.0162px;
}

/* Rubric 1 */
.r1 {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.0062px;
}

/* Rubric 2 */
.r2 {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0px;
    color: var(--secondaryLabel) !important;
}

/* Rubric 3 */
.r3 {
    font-family: var(--font-ui);
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.0088px;
}

/* Rubric 4 */
.r4 {
    font-family: var(--font-ui);
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.0100px;
}

/* Rubric 5 */
.r5 {
    font-family: var(--font-ui);
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.0235px;
    text-transform: uppercase;
}

button {
    color: inherit;
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;

    &.largeButton {
        color: var(--label);
        background-color: var(--systemGray5);
        padding: 8px 16px;
        width: -webkit-fill-available;
        border-radius: 8px;

        &.color {
            background-color: var(--colorTheme);
            color: white;
        }
    }

    &.largeButtonInverted { // used for a var(--colorTheme) bg outside of the button
        background-color: var(--systemBackground);
        color: var(--colorTheme);
        padding: 10px;
        width: -webkit-fill-available;
        border-radius: 8px;
    }
}

// default spacingLine
.spacingLine {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  
    &.noGapSL {
      gap: 0;
    }

    &.centerItems {
        justify-content: center;
    }

    &.alwaysCenteredAligned {
        width: 100%;

        > * {
          flex: 1;
          justify-content: center;
        }
  
        .spacingLineLeft {
          justify-content: left;
          gap: 3px;
          display: flex;
        }
  
        .spacingLineRight {
          justify-content: right;
          gap: 3px;
          display: flex;
        }
    }
}

.blockwBorder {
    border: 1px solid var(--cardBorder);
    border-radius: var(--roundedBlockRadius);
}

form {
    margin-bottom: 30px;

    .mainLabel {
        @extend .r2, .up;
        margin-left: 10px;
        margin-bottom: 4px;
        -webkit-line-clamp: 1 !important;
        overflow: hidden;
        text-overflow: ellipsis !important;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    ul.formParamaters {
        background-color: var(--secondarySystemBackground);
        border-radius: 8px;
        padding-left: 16px;
        &.groupedBg {
            background-color: var(--secondarySystemGroupedBackground);
        }

        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 9px 10px 9px 0;

            &:not(:last-of-type()) {
                border-bottom: 0.5px var(--separator) solid;
            }

            > *:not(:first-child) {
                color: var(--secondaryLabel)
            }

            label {
                -webkit-line-clamp: 3 !important;
                min-width: 50%;
                overflow: hidden;
                text-overflow: ellipsis !important;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                word-break: break-word;
            }
        }
    }
}

select {
    background-color: var(--tertiarySystemBackground);
}

ul {
    list-style: none;
  }

a {
    text-decoration: none;
    color: inherit;
}

.clickVisible {
  cursor: pointer;
}

.color {
  color: var(--colorTheme);
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }