@import "ios-semantic_colors.scss";

  * {
      margin: 0;
      padding: 0;
      --font-ui: 'Inter';
  }

/* Huge Title */
h1 {
    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 81px;
    letter-spacing: -0.0223px;
}

/* Bold style for Huge Title */
h1.bold {
    font-weight: 800;
}

/* Large Title */
h2 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    letter-spacing: -0.0223px;
}

/* Bold style for Large Title */
h2.bold {
    font-weight: 700;
}

/* Title 1 */
h3 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.0220px;
    padding: 22px 0;
}

/* Bold style for Title 1 */
h3.bold {
    font-weight: 700;
}

/* Title 2 */
h4 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.0213px;
    padding-bottom: 16px;
}

/* Bold style for Title 2 */
h4.bold {
    font-weight: 700;
}

/* Title 3 */
h5 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.0195px;
}

/* Bold style for Title 3 */
h5.bold {
    font-weight: 600;
}

/* Headline */
h6 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.0110px;
}

/* Callout */
.h7 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.0088px;
    margin-bottom: 16px;
}

/* Bold style for Callout */
.h7.bold {
    font-weight: 600;
}

/* Subheadline */
.h8 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.0062px;
}

/* Bold style for Subheadline */
.h8.bold {
    font-weight: 600;
}

/* Body */
p {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.0110px;
    margin-bottom: 16px;
    color: var(--label);
    margin-top: 0.8em;
}

/* Bold style for Body */
p.bold {
    font-weight: 600;
}

/* Footnote */
.footnote {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0px;
    color: var(--systemGray);
}

/* Bold style for Footnote */
.footnote.bold {
    font-weight: 600;
}

/* Caption 1 */
.c1 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.0048px;
}

/* Bold Style for Caption 1 */
.c1.bold {
    font-weight: 500;
}

/* Caption 2 */
.c2 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.0100px;
}

/* Bold style for Caption 2 */
.c2.bold {
    font-weight: 600;
}

/* Caption 3 */
.c3 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.0162px;
}

/* Rubric 1 */
.r1 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.0062px;
    text-transform: uppercase;
}

/* Bold style for Rubric 1 */
.r1.bold  {
    font-weight: 600;
}

/* Rubric 2 */
.r2 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: var(--secondaryLabel) !important;
}

/* Bold style for Rubric 1 */
.r2.bold {
    font-weight: 600;
}

/* Rubric 3 */
.r3 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.0088px;
    text-transform: uppercase;
}

/* Rubric 4 */
.r4 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.0100px;
    text-transform: uppercase;
}

/* Rubric 5 */
.r5 {
    font-family: var(--font-ui);
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.0235px;
    text-transform: uppercase;
}