@import "../ios/ios-typography.scss";
@import "../ios/ios-semantic_colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400..900');
@import "./AppColorTopics.scss";
@import "../topic-components/EthiqueComponent_styles.scss";
@import "./newsBlockStyles.scss";
@import "./footerStyles.scss";
@import "./headerStyles.scss";
@import "./disclosureStyles.scss";
@import "./modalStyles.scss";

#App {
  --colorTheme: var(--headlinesColorTheme);
  --headlinesColorTheme: var(--systemPink);
  color: var(--label);
  background-color: var(--systemGroupedBackground);
}

/*/ loading Spinner in RssFeeds /*/
.spinner-container>div {
  margin: auto;
  margin-top: 6rem;
  padding-bottom: 6rem;
}

.logo-text {
  font-family: 'Bodoni Moda' !important;
  font-weight: 800 !important;
  opacity: 0.75;
  padding: 0 20px;
  width: max-content;
}

section.ArticleSection {
  margin-bottom: 44px;

  &:not(.nList) ul li:not(.firstFocus:first-child) {
    filter: drop-shadow(0 10px 10px var(--lightShadow));
    border: 1px solid var(--cardBorder);
  }
}

/*/ small caps for label in paragraph /*/
em:not(.itemContainer em) {
  // do not the emphasis for content in a RSS feed item
  font-family: 'Bodoni Moda' !important;
  font-weight: 700;
  font-size: calc(113%); // this font is small compared to Inter 
  font-style: normal;
}

.up em {
  text-transform: lowercase;
  font-size: 140% !important;
}

// uiSplit hierarchy 
#uiSplitContainer {
  display: flex;
  overflow-x: clip;

  #uiSplit-sidebar {
    overflow-y: scroll;
    width: 250px;
    max-height: calc(100vh - 51.8px);
    background-color: var(--systemTitlebarMaterial);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border: 0;
    position: sticky;
    z-index: 3;
    overflow-x: hidden;
    min-width: 0;
    max-width: 0;
    height: 100%;
    transition: all 0.4s ease-in-out;
    top: 51.8px; // height of header

    &.displayed {
      min-width: 250px; // width to change in ./sidebar_fct
      border-right: 0.5px solid var(--separator);
      max-width: 250px;
    }

    .uiSplit-sidebar-sbContainer {
      padding: 30px 15px;
      margin-bottom: 77px;

      section {
        margin-bottom: 20px;
      }

      .sidebarSectionTitle {
        margin-bottom: 10px;

        :last-child {
          // do not shrink last-child element (svg)
          flex: none;
        }
      }

      ul.sidebarTopics {
        overflow-y: visible;

        li {

          &.selected {
            .discHeader {
              color: white;
              border-radius: 5px;
              background-color: var(--headlinesColorTheme);
            }

            * {
              fill: white;
            }
          }

          .discHeader:hover {
            border-radius: 5px;
            background-color: var(--headlinesColorTheme);
            color: white;

            * {
              // for svg
              fill: white;
            }
          }

          .discPlus button {
            width: 100%;

            &:hover {
              background-color: var(--quaternarySystemFill);
            }
          }
        }
      }
    }
  }

  main#uiSplit-main {
    width: 100%;
    margin-left: 0;
    margin-bottom: 44px;

    min-width: 222px;
    padding: 0 83px;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 88vh;

    .grid {
      margin: auto;
      width: auto;
      max-width: calc(494px + 40px + 555px); // THEORY only (proportions assigns the width for each elements); LeftPodcastsColumn width + LeftPodcastsColumn padding-right + RightRSSColumn width

      @media only screen and (min-width: 1200px) {
        margin-top: 20px;
      }
    }

    @media only screen and (max-width: 1200px) {
      min-width: 0;
    }

    /*/ two colums displayed for large devices/*/
    .LeftPodcastsColumn {
      float: left;
      width: 35%;
      padding-right: 40px;
    }

    .gridTopELement {
      align-items: baseline;
      padding: 22px 0;

      h3,
      h4 {
        padding: 0;
      }

      button {
        color: var(--secondaryLabel);
        background: none;
        border: none;
        text-align: right;
        white-space: nowrap;
        line-height: 38px // h4
      }

      .gridTop-TopicTitle {
        // used to title the topic title on one line only
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }

    h3,
    h4 {
      width: fit-content;
    }

    .RightRSSColumn {
      float: left;
      width: calc(65% - 40px);
    }

    @media only screen and (max-width: 1200px) {
      margin-left: auto !important;

      button#sidebarDisplayInverted {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #headerFirstLine {
    padding: 0 10px 0 15px;

    nav {
      display: none;
    }
  }
}

button.squareButton20 {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  fill: var(--secondaryLabel);
  display: flex;
  align-items: center;
  justify-content: center;

  &.blockedButton {
    fill: var(--tertiaryLabel);
    cursor: default;
  }

  @media only screen and (min-width: 1200px) {

    &:hover:not(.blockedButton),
    &.selected {
      background-color: var(--quaternarySystemFill);
    }
  }

  @media only screen and (max-width: 1200px) {
    width: 35px;
    height: 35px;
  }
}

// Adapted for small devices 
@media only screen and (max-width: 1200px) {

  main.Articles {
    /*/ smaller vertical padding for small devices /*/
    padding: 0 !important;
    max-width: 555px;

    .grid {
      display: block !important;
      width: 100%;
      padding: 24px 15px !important;
    }
  }

  .LeftPodcastsColumn,
  .RightRSSColumn {
    /*/ display a sigle column on small devices /*/
    width: 100% !important;
  }

  .headerTitle,
  .noSmallDisplay {
    /*/ hide big headerTitle 'nuntii' for small devices /*/
    display: none;
  }

  #uiSplit-sidebar {
    width: 100% !important;

    &.displayed {
      min-width: 100% !important;
      max-width: 100% !important;
    }
  }

  ul.sidebarTopics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    column-gap: 10px;

    >* {
      min-width: 222px;
      flex: 1 1 0;
    }
  }
}

input#searchBox {
  font-size: 15px;
  border: none;
  background: none;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.show {
  max-height: 100px !important
}

#topicsSearchDropdown {
  transition: all 0.4s ease-in-out;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0;

  .CONTAINER {
    // otherwhise we can't use padding or inline-flew properly due to the transition & the svg as child
    padding: 5px 10px;
    align-items: center;
    background-color: var(--quaternarySystemFill);
    display: inline-flex;
    border-radius: 5px;
    gap: 5px;
    width: -webkit-fill-available;
  }

  &.show {
    margin-bottom: 15px;
  }
}