header {
  padding: 3px 0;
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: var(--systemHeaderMaterial);
  -webkit-backdrop-filter:saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 0.5px solid var(--separator);

  @media only screen and (max-width: 1200px) {
    padding: 8px 0;
  }
}

.headerTitle {
  display: flex;
  align-items: baseline;
  gap: 10px;

  > *:first-of-type {
    border-right: 1.8px solid var(--separator);
    padding-right: 8px;
  }
}