@import "ios/ios-typography.scss";
@import "ios/ios-semantic_colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400..900');

:root {
  --rounded-corners-block: 12px;

  --headlinesColorTheme: var(--systemPink);
  --cultureColorTheme: burlywood;
  --sportColorTheme: darkgoldenrod;
  --ecoColorTheme: orange;
  --mondeColorTheme: dodgerblue;
  --presseinterColorTheme: crimson;
  --scienceColorTheme: mediumseagreen;
  --europeColorTheme: yellowgreen;
  --polColorTheme: darkviolet;
  --ideesColorTheme: orchid;
  --societeColorTheme: lightpink;// mediumaquamarine;
  --techColorTheme: teal;
  --regionsColorTheme: cornflowerblue;
  --planeteColorTheme: limegreen;
  --lifestyleColorTheme: #6667ab;
  --ethicsColorTheme: #398bb3; // #6db866;
  --autoColorTheme: mediumvioletred;

  /*/
  colorTheme must be specified,
    1- for App component (38)
    2- for underlining style (57)
    3- for subtopics navbar li color (160)
    4- for topics navbar li color scheme (237)
    5- for topics navbar li hover effect (320)
    6- for topics titles in ArticlesMain (377)
  /*/
}

/*/ color focus for the entire webpage /*/
.App {
  --colorTheme: var(--headlinesColorTheme);

  &.Sport { 
    --colorTheme: var(--sportColorTheme);
  }

  &.Économie {
    --colorTheme: var(--ecoColorTheme);
  }

  &.Culture {
    --colorTheme: var(--cultureColorTheme);
  }

  &.Presse {
    --colorTheme: var(--presseinterColorTheme);
  }

  &.Monde {
    --colorTheme: var(--mondeColorTheme);
  }

  &.Science {
    --colorTheme: var(--scienceColorTheme);
  }
  
  &.Europe {
    --colorTheme: var(--europeColorTheme);
  }

  &.Politique {
    --colorTheme: var(--polColorTheme);
  }

  &.Idées {
    --colorTheme: var(--ideesColorTheme);
  }

  &.Société {
    --colorTheme: var(--societeColorTheme);
  }

  &.Tech {
    --colorTheme: var(--techColorTheme);
  }
  
  &.Régions {
    --colorTheme: var(--regionsColorTheme);
  }

  &.Planète {
    --colorTheme: var(--planeteColorTheme);
  }

  &.Art {
    --colorTheme: var(--lifestyleColorTheme);
  }

  &.Éthique {
    --colorTheme: var(--ethicsColorTheme);
  }

  &.Auto-moto {
    --colorTheme: var(--autoColorTheme);
  }

  .color {
    color: var(--colorTheme);
  }
}

/*/ loading Spinner in ul /*/
.spinner-container > div {
  margin: auto;
  margin-top: 6rem;
  padding-bottom: 6rem;
}

body {
  background-color: var(--systemGroupedBackground);
  color: var(--label);
}

/*/ elements to be not selectable /*/
.headerTitle, main.Articles, .mini-links a {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main.Articles {
  min-width: 222px;
  padding: 0 83px;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 111vh;

  .grid {
    margin: auto;
    width: auto;
    max-width: calc(444px + 40px + 555px);
  }

  /*/ two colums displayed for large devices/*/
  .LeftPodcastsColumn {
    float: left;
    width: 35%;
    padding-right: 40px;
  }

  h3 {
    width: fit-content;
  }
  
  .RightRSSColumn {
    float: left;
    width: calc(65% - 40px);
  }

  
  /*/ underlining color depending on topic for li /*/   
  * {
    text-decoration-color: var(--headlinesColorTheme);
  }

  .rss-podcasts .intro {
    border-bottom-color: var(--headlinesColorTheme);
  }

  .Science {

    .rss-podcasts * {
      border-bottom-color: var(--scienceColorTheme);
    }

    * {
      text-decoration-color: var(--scienceColorTheme);
    }
  }

  .Monde {

    .rss-podcasts * {
      border-bottom-color: var(--mondeColorTheme);
    }

    * {
      text-decoration-color: var(--mondeColorTheme);
    }
  }
  
  .Sport {

    .rss-podcasts * {
      border-bottom-color: var(--sportColorTheme);
    }

    * {
      text-decoration-color: var(--sportColorTheme);
    }
  }

  .Économie {

    .rss-podcasts * {
      border-bottom-color: var(--ecoColorTheme);
    }

    * {
      text-decoration-color: var(--ecoColorTheme);
    }
  }
  
  .Culture {
    .rss-podcasts * {
      border-bottom-color: var(--cultureColorTheme);
    }

    * {
      text-decoration-color: var(--cultureColorTheme);
    }
  }
  
  .Europe {
    .rss-podcasts * {
      border-bottom-color: var(--europeColorTheme);
    }

    * {
      text-decoration-color: var(--europeColorTheme);
    }
  }

  .Politique {
    
    .rss-podcasts * {
      border-bottom-color: var(--polColorTheme);
    }

    * {
      text-decoration-color: var(--polColorTheme);
    }
  }

  .Idées {

        .rss-podcasts * {
      border-bottom-color: var(--ideesColorTheme);
    }

    * {
      text-decoration-color: var(--ideesColorTheme);
    }
  }

  .Tech {

    .rss-podcasts * {
      border-bottom-color: var(--techColorTheme);
    }

    * {
      text-decoration-color: var(--techColorTheme);
    }
  }

  .Régions {

    .rss-podcasts * {
      border-bottom-color: var(--regionsColorTheme);
    }

    * {
      text-decoration-color: var(--regionsColorTheme);
    }
  }

  .Planète {

    .rss-podcasts * {
      border-bottom-color: var(--planeteColorTheme);
    }

    * {
      text-decoration-color: var(--planeteColorTheme);
    }
  }

  .Art {
    
    .rss-podcasts * {
      border-bottom-color: var(--lifestyleColorTheme);
    }

    * {
      text-decoration-color: var(--lifestyleColorTheme);
    }
  }

  .Éthique {
    
    .rss-podcasts * {
      border-bottom-color: var(--ethicsColorTheme);
    }

    * {
      text-decoration-color: var(--ethicsColorTheme);
    }
  }

  .Auto-moto {

    .rss-podcasts * {
      border-bottom-color: var(--autoColorTheme);
    }

    * {
      text-decoration-color: var(--autoColorTheme);
    }
  }
  
  /*/ special case since Presse étrangère can be found as subtopic /*/
  .étrangère:not(.section) {

    ul.rss-podcasts {

      .intro {
        border-bottom-color: var(--presseinterColorTheme);
      }
      
      li > * > * > * > * {
        text-decoration-color: var(--presseinterColorTheme); 
      }
    }
  
    * > ul > li > * > * > * {
      text-decoration-color: var(--presseinterColorTheme);
    }
  }

  /*/ special case since Société can be found as subtopic (in Idées topic) /*/
  .Société:not(.section) {

    ul.rss-podcasts {

      .intro {
        border-bottom-color: var(--societeColorTheme);
      }
      
      li > * > * > * > * {
        text-decoration-color: var(--societeColorTheme); 
      }
    }
  
    * > ul > li > * > * > * {
      text-decoration-color: var(--societeColorTheme);
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 8px 0px;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: var(--systemHeaderMaterial);
  overflow: hidden;
  -webkit-backdrop-filter:saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 0.5px solid var(--separator);
}

ul {
  list-style-type: none;
  padding: 0;

  /*/ make the bar scrollable/*/
  &.topics-navbar {
    display: block;
    overflow-x: auto;
    overscroll-behavior-y: none;
    white-space: nowrap;
  
    /*/ do not display bar to scroll through topics on top of the page/*/
    &::-webkit-scrollbar {
      display: none;
    }

    li {
      margin: 1px 5px;
      display: inline-block;
      color: var(--colorTheme);

      @media only screen and (min-width: 1000px) {
        
        &:first-child {
          margin-left: 10px;
        }

        &:last-child {
          margin-right: 10px;
        }
      }
    
      /*/ color styles for topics navbar -border and color /*/
      .Sport {
        border-color: var(--sportColorTheme);
        color: var(--sportColorTheme);
      }
      
      .Culture {
        border-color: var(--cultureColorTheme);
        color: var(--cultureColorTheme);
      }

      .Société {
        border-color: var(--societeColorTheme);
        color: var(--societeColorTheme);
      }
    
      .Économie {
        border-color: var(--ecoColorTheme);
        color: var(--ecoColorTheme);
      }
    
      .Presse {
        border-color: var(--presseinterColorTheme);
        color: var(--presseinterColorTheme);
      }
    
      .Monde {
        border-color: var(--mondeColorTheme);
        color: var(--mondeColorTheme);
      }
    
      .Science {
        border-color: var(--scienceColorTheme);
        color: var(--scienceColorTheme);
      }
    
      .Europe {
        border-color: var(--europeColorTheme);
        color: var(--europeColorTheme);
      }
    
      .Politique {
        border-color: var(--polColorTheme);
        color: var(--polColorTheme);
      }
    
      .Idées {
        border-color: var(--ideesColorTheme);
        color: var(--ideesColorTheme);
      }
    
      .Tech {
        border-color: var(--techColorTheme);
        color: var(--techColorTheme);
      }
    
      .Régions {
        border-color: var(--regionsColorTheme);
        color: var(--regionsColorTheme);
      }
    
      .Planète {
        border-color: var(--planeteColorTheme);
        color: var(--planeteColorTheme);
      }
    
      .Art {
        border-color: var(--lifestyleColorTheme);
        color: var(--lifestyleColorTheme);
      }

      .Éthique {
        border-color: var(--ethicsColorTheme);
        color: var(--ethicsColorTheme);
      }
    
      .Auto-moto {
        border-color: var(--autoColorTheme);
        color: var(--autoColorTheme);
      }
    
      > button {
        border: 2px solid var(--headlinesColorTheme);
        color: var(--headlinesColorTheme);
        padding: 2px 15px;
        border-radius: 15px;
        overflow: hidden;
        transition: color 1s, background-color 1s;
        width: 100%;
        height: 100%;
        font: inherit;
        background-color: transparent;
        cursor: pointer;
    
        &:hover, &.selected {
          background-color: var(--headlinesColorTheme);
          color: white;
    
          /*/ background color on hover for topics navbar /*/
          &:not(.subtopic-selection) {

            background-color: var(--headlinesColorTheme);
            
            &.Économie {
              background-color: var(--ecoColorTheme);
            }
          
            &.Culture {
              background-color: var(--cultureColorTheme);
            }

            &.Société {
              background-color: var(--societeColorTheme);
            }
    
            &.Sport {
              background-color: var(--sportColorTheme);
            }
    
            &.Presse {
              background-color: var(--presseinterColorTheme);
            }
    
            &.Monde {
              background-color: var(--mondeColorTheme);
            }
    
            &.Science {
              background-color: var(--scienceColorTheme);
            }
            
            &.Europe {
              background-color: var(--europeColorTheme);
            }
    
            &.Politique {
              background-color: var(--polColorTheme);
            }
    
            &.Idées {
              background-color: var(--ideesColorTheme);
            }
    
            &.Tech {
              background-color: var(--techColorTheme);
            }
            
            &.Régions {
              background-color: var(--regionsColorTheme);
            }
    
            &.Planète {
              background-color: var(--planeteColorTheme);
            }
    
            &.Art {
              background-color: var(--lifestyleColorTheme);
            }

            &.Éthique {
              background-color: var(--ethicsColorTheme);
            }
    
            &.Auto-moto {
              background-color: var(--autoColorTheme);
            }
          }
        }
      }
    }
  }
}

/*/ subtopics menu on top of the page /*/
.subtopic-selection ul.topics-navbar {
  padding-left: 26px;

  li {
    margin-top: 10px;

    button {
      border-radius: 0;
    }

    @media only screen and (min-width: 1000px) {
        
      &:first-child {
        margin-left: 0;
  
        > * {
          padding-left: 0;
        }
      }
    }

    > * {
      /*/ color for subtopic navbar li /*/
      color: var(--colorTheme) !important;
    }
  
    > button {
      border: none;
      padding: 2px 10px;
      font-weight: 500 !important;
      overflow: hidden;
      transition: color 0s !important;
      width: 100%;
      height: 100%;
      font: inherit;
      background-color: transparent !important;
      cursor: pointer;
  
      &.selected {
        font-weight: 900 !important;
        color: var(--systemPink);
      }

    }
  }
}

/*/ Title colors for topics /*/
h3.bold {
  color: var(--colorTheme);
}

/*/ Titles for subtopics in ArticlesMain /*/
h4.subtopic {
  padding-top: 0;
}

/*/ higher version of header for mobile devices /*/
.header-mobile {
  display: none !important;
  background-color: var(--systemHeaderMaterial);
  -webkit-backdrop-filter:saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  .logo-text {
    text-align: center;
    width: 100% !important;
    padding: 5px 0 !important;
  }
}

.logo-text {
  font-family: 'Bodoni Moda' !important;
  font-weight: 800 !important;
  opacity: 0.75;
  padding: 0 20px;
  width: max-content;
}

header .logo-text {
  display: block;
  text-align: center;
  float: left;
  line-height: 28px; /*/ height of nav .topics-navbar element /*/ 
  height: 28px;
  padding: 0 20px 0 16px !important;
  border-right: 1.8px solid var(--separator);
}

section.ArticleSection {
  margin-bottom: 44px;

  &:not(.nList) {

    ul li:not(.firstFocus:first-child) {
      filter: drop-shadow(0 10px 10px var(--lightShadow));
      border: 1px solid var(--cardBorder);
    }
  }
}

/*/ list containing a whole subtopic /*/
ul {

  &.rss-podcasts {
    background-color: var(--secondarySystemGroupedBackground);
    border-radius: var(--rounded-corners-block);
    box-shadow: 2px 4px 12px rgba(0,0,0, 0.08);
    margin-bottom: 15px;

    .intro {
      padding: 15px 10px;
      border-bottom: 1.8px solid;
      max-width: 100%;
    }
  }

  &.rss, &.rss-podcasts {

    /*/ subtopic list element /*/
    li {
      margin-bottom: 15px;
      background-color: var(--secondarySystemGroupedBackground);
      border-radius: var(--rounded-corners-block);

      .descriptionLine {

        .articleDate {
          display: none;
        }

        .item-description {
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box !important;
          -webkit-box-orient: vertical;

          p img, img, br, a, ul, li {
            display: none;
            width: 100%;
            height: auto;
          }
  
          p {
            /*/ Define as h8/*/
            font-size: 14px !important;
            line-height: 18px !important;
            letter-spacing: -0.0062px !important;
            font-weight: normal !important;
            margin: 0 !important;
            padding: 0 !important;
  
            strong {
              font-weight: normal !important;
            }
  
            /*/ used by some newsrooms as topic, so hidden here/*/
            b:first-of-type {
              display: none;
            }
          }
  
          p:not(:nth-child(1)) {
            display: none;
          }
        }
      }

      .titleLine {
        -webkit-line-clamp: 4 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box !important;
        -webkit-box-orient: vertical;

        .ItemTitle {
          display: inline;
        }
  
        .LanguageLabel {
          color: white;
          margin-right: 5px;
          border-radius: 5px;
          padding: 3px 5px;
          display: inline;
          text-transform: uppercase;
          background-color: var(--systemFill);
          line-height: 20px; /*/ line height of TitleLine /*/
          font-size: 10px;
          vertical-align: bottom;
      
        }
      }

      .titleLine, .item-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* number of lines */
        -webkit-box-orient: vertical;
        text-decoration-color: rgba(0,0,0,0);
        word-break: break-word;
      }

      .background-image {
        display: none;

        img {
        
          background-image: url("https://tapsmart-wpengine.netdna-ssl.com/wp-content/uploads/2015/09/ipadnews2-750x400.jpg");
          object-fit: cover;
          background-size: cover !important;
          height: 100%;
          width: 100%;
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }

      .justifiedTitle {
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        align-items: flex-start;

        .articleDate {
          display: flex;
          justify-content: flex-end;
          padding-left: 10px;
          line-height: 20px; /* h6 line-height to align content */
        }
      }
    
      .itemContainer {
        vertical-align: middle;
        width: 100%;
        padding: 10px 10px 10px 0;
      }

      .iconContainer {
        padding: 10px 10px 10px 0;
      }
    
      .media {
        align-items: center;
        justify-content: left;
        display: flex !important;
        margin-left: 10px;
      }
      
      .icon-image {
        float: left;
        object-fit: cover;
        display: block;
        align-self: center;
        height: 40px;
        width: 40px;

        &.double-img {

          img:not(:first-of-type) {
            position: relative !important;
            width: 20px;
            z-index: 2;
            height: 20px;
            border-radius: 5px;
            top: 25px;
            left: 25px;
          }

          img:first-of-type {
            position: absolute;
          }
        }

        img {
          object-fit: cover;
          background-image: url("https://support.apple.com/library/content/dam/edam/applecare/images/en_US/ios/News/ios12-2-news-todays-topic-icon.png");
          background-position: center;
          background-repeat: no-repeat;
          background-color: white;
          background-size: calc(100% - 10px);
          height: 40px;
          width: 40px;
          border-radius: 9px;
          position: relative;
        }

        &:nth-child(1) {
          position: absolute;
          z-index: 1;
          
          img {
            background-image: none;
            background-color: rgba(0,0,0,0) !important;
            border-radius: 0px !important;
          }
        }
      }

      .articleCategory {
        display: -webkit-box;
        font-weight: 900 !important;
        color: var(--systemGray);
        -webkit-line-clamp: 1 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        text-align: left;
        word-break: break-all;
        width: 100%;
      }

      .articleDate {
        padding-left: 10px;
        text-align: right;
        display: table-cell;
        color: var(--secondaryLabel);
        width: max-content;
        white-space: nowrap;
      }
      
      .firstLine {
        width: 100%;
        display: table;
      }

      .descriptionLine {
        display: table;
        width: initial;

        .articleDate {
          padding-left: 0;
          text-align: left;
          padding-right: 5px;
        }
      }

      /*/ LIST STYLE FOR ITEMS hide item-description for items with weird descriptions /*/
      &.nodesc {
        .descriptionLine {
          display: none !important;
        }
      }

      /*/ LIST STYLE FOR LI ITEMS - big title + big image + small desc /*/
      &.bigFocus, &.firstFocus:first-of-type {
        background-color: rgba(0, 0, 0, 0);
      
        .descriptionLine {
          position: absolute;
          bottom: 0;
          width: 100%;
          display: block;
          -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
          background-color: var(--systemThickMaterial);
          border-radius: 0 0 var(--rounded-corners-block) var(--rounded-corners-block);

          .articleDate {
            display: none;
          }
        }

        .item-description {
          margin: 12px;
          -webkit-line-clamp: 3 !important;
          overflow: hidden;
          text-overflow: ellipsis !important;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }

        .LanguageLabel {
          /*/ as titleLine /*/
          line-height: 31px !important;
        }
      
        .titleLine {
          /*/ define as h5 /*/
          font-weight: 700;
          font-size: 24px;
          line-height: 31px;
          display: block;
          letter-spacing: -0.0195px;
          text-shadow: 0 0 5px black;
          padding: 14px 16px 0;
          color: white;
          position: absolute;
          top: 40px;
          max-height: 200px;
          -webkit-line-clamp: 4 !important;
          overflow: hidden;
          text-overflow: ellipsis !important;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }

        .justifiedTitle .articleDate {
          display: none;
        }
      
        .itemContainer  {
          display: block;
          padding: 0 !important;
          width: 100% !important;
          position: absolute;
          top: 0;
          background-color: rgba(0, 0, 0, 0) !important;
          height: 300px;
          z-index: 2;
        }
        
        .iconContainer {
            padding: 0;
        }
      
        .background-image {
          display: block !important;
          height: 300px !important;

          img {
            border-radius: 10px;
          }
        }
        
        .icon-image {
          height: 0 !important;
          
          img {
            height: 35px;
            width: 35px;
            z-index: 2;
            position: absolute;
            border-radius: 9px;
            top: 10px;
            left: 16px; /*/ left-margin for titleLine /*/
          }

          &:nth-child(1) {
            display: none !important;
          }
        }

        .media {
          position: relative;
          margin: 0;
          display: block !important;
        }
      }

      /*/ get big image for first-item /*/
      &.firstHeadline:first-child, &.bigHeadline {
    
        .background-image, .media, .itemContainer {
          display: block !important;
        }
        
        .item-description {
          -webkit-line-clamp: 3 !important;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box !important;
          -webkit-box-orient: vertical;
        }

        .media {
          position: relative !important;
          margin: 0;
        }
      
        .titleLine {
          font-weight: 700;
          -webkit-line-clamp: 4; /* number of lines to show */
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box !important;
          -webkit-box-orient: vertical;
        }

        .itemContainer  {
          padding: 14px 10px 16px 16px;
          width: calc(100% - 16px - 10px);
          border-radius: 0 0 var(--rounded-corners-block) var(--rounded-corners-block);

          .descriptionLine {
            margin-right: 16px;
            // only the justifiedTitle line has a right-margin of 10px in order for the date to be aligned with other li elements
          }
        }

        .background-image {

          height: 170px !important;
          width: 100% !important;
          margin-right: 0;
          z-index: -1;
          float: none !important;
          
          img {
            width: 100% !important;
            height: 170px !important;
            border-radius: 10px 10px 0 0 !important;
          }
        }

        .icon-image {
          height: 0;

          img {
            height: 35px !important;
            object-fit: cover;
            width: 35px !important;
            z-index: 2;
            position: absolute;
            border-radius: 9px !important;
            top: 10px !important;
            left: 16px !important; /*/ left-margin for ItemContainer/*/
          }

          &:nth-child(1) {
            display: none !important;
          }
        }

        .iconContainer {
            padding: 0;
        }
      }
    }
  }
}

/*/
FOOTER
/*/

footer {
  margin-top: 44px;
  background-color: var(--secondarySystemGroupedBackground);
  min-width: 222px;
}

.footer-container {
  margin: auto;
  padding: 3rem 25px 8rem;
  max-width: 950px;

  .websiteInfo {
    margin-bottom: 15px;

    &> * {
      color: var(--secondaryLabel);
      display: inline-block;
      padding-right: 30px;
      margin-bottom: 0;
    }
  }
  
  a:hover {
    text-decoration: underline;
  }

  .footer-header-app .logo-text {
    text-align: left !important;
    padding: 0 0 15px 0;
    background: var(--colorTheme);
    background: -webkit-linear-gradient(to right, var(--systemGray2), var(--colorTheme) 88%);
    background: -moz-linear-gradient(to right, var(--systemGray2), var(--colorTheme) 88%);
    background: linear-gradient(to right, var(--systemGray2), var(--colorTheme) 88%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }

  .footer-legal .mini-links {
    margin-top: 5px;
  
    a {
      width: fit-content;
      display: inline-block;
      margin-top: 5px;
      padding-right: 10px;
    }
  
    a:not(:last-child) {
      border-right: 1.6px solid var(--colorTheme);
      margin-right: 10px !important;
    }
  }
}

/*/ Bottom border to separate footer-container elements (but not last element in footer-container) /*/
.footer-container > *:not(.footer-container > *:last-child) {
  border-bottom: 0.5px solid var(--separator);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/*/
Adapted for small devices 
/*/

@media only screen and (max-width: 1000px) {
  main.Articles {
    /*/ smaller vertical padding for small devices /*/
    padding: 24px 15px !important;
    max-width: 555px;

    .grid {
      display: block !important;
      width: 100%;
    }
  }

  .LeftPodcastsColumn, .RightRSSColumn {
    /*/ display a sigle column on small devices /*/
    width: 100% !important;
  }

  .subtopic-selection ul.topics-navbar {
     /*/ smaller padding for small devices /*/
    padding-left: 0px !important; 
  }

  ul.topics-navbar {
    clear: both;
  }

  .headerTitle {
     /*/ hide big headerTitle 'nuntii' for small devices /*/
    display: none;
  }

  .header-mobile {

     /*/ replace headerTitle with smaller header /*/
    display: block !important;
  }

  .footer-header-app .logo-text {
    text-align: center !important;
    margin: auto;
  }

  .footer-header-app * {
    text-align: center;
  }

  .websiteInfo > *, .mini-links {
    display: block !important;
    width: 100%;
    text-align: center;
    margin: 16px 0;
    padding: 0 !important; 
  }
}

/*/ small caps for label in paragraph /*/
em:not(.itemContainer em) {
  font-family: 'Bodoni Moda' !important;
  font-weight: 700;
  font-size: calc(100% + 3px);
  font-style: normal;
}

.BlockParagraph {
  background-color: var(--secondarySystemGroupedBackground);
  box-shadow: 2px 4px 12px rgba(0,0,0, 0.25);
  border-radius: 20px;
  padding: 30px;
  margin: 20px 0;
  border: 2px solid var(--systemGray5);

  h1, h2, h3, h4, h5 {
    text-align: center;
    width: 100% !important;
    padding: 0 0 20px 0;
  }

  &.Bday {
    border: 4px solid var(--headlinesColorTheme);
  }
}

.nList {
  background-color: var(--secondarySystemGroupedBackground);
  border-radius: var(--rounded-corners-block);
  filter: drop-shadow(0 10px 10px var(--hardShadow));
  border: 1px solid var(--cardBorder);
  
  h4 {
    border-bottom: 3.2px solid var(--colorTheme);
    padding: 10px 15px 5px;
  }

  li {
    margin-bottom: 0 !important;
    background-color: none !important;

    &.firstHeadline:first-child, &.bigHeadline {

      .itemContainer {
        background-color: var(--tertiarySystemGroupedBackground);
        padding: 14px 16px 16px 16px;
      }

      .iconContainer {
        padding: 0;
      }

      .media {
        border-bottom: 0 solid red;
        padding: 10px 10px 0;
      }
    }

    &.TVbanner {

      .item-description {
        -webkit-line-clamp: 6 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
      }

      &.NOT {

        .descriptionLine:not(.always) {
          display: none;
        }

        .firstLine {
          .icon-footnote-container.footnote {
            display: none;
          }
        }
      }
    }

    &:first-of-type:not(.TVbanner), &.bigList {

      .icon-image:nth-child(1) {
        display: none !important;
      }

      .icon-image:not(:nth-child(1)) {
          z-index: 2;
          margin: 0;
          position: absolute;
          width: 70px;
          height: 70px;
        
        img {
          width: 18px;
          height: 18px;
          border-radius: 5px;
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }

      .background-image {
        display: block;
        float: left;
        z-index: 0;
        width: 70px;
        height: 70px;

        img {
          width: 70px;
          border-radius: 10px;
          height: 70px;
        }
      }

      .descriptionLine {
        .articleDate {
          display: none;
        }

        .item-description {
          -webkit-line-clamp: 2 !important;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box !important;
          -webkit-box-orient: vertical;
        }
      }
    }

    .media {
      border-bottom: 0.8px solid var(--separator);
    }

    .item-description {
      -webkit-line-clamp: 1 !important;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box !important;
      -webkit-box-orient: vertical;
    }

    .titleLine {
      -webkit-line-clamp: 3 !important;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box !important;
      -webkit-box-orient: vertical;
    }

    &:last-child {
      .media {
        border-bottom: 0 solid red;
      }
    }

    .descriptionLine .articleDate { /* use justifiedTitle instead */
      display: none !important;
    }

    @media only screen and (max-width: 1000px) {
      .descriptionLine:not(.always) {

        .articleDate {
          display: none;
        }
      }

      .descriptionLine2 {
        display: none; /* use justifiedTitle instead */
      }

      .item-description {
        -webkit-line-clamp: 2 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
      }
    }
  }
}