@import "ios/ios-HIG.scss";
@import "ios/ios-semantic_colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: var(--systemGroupedBackground);
  color: var(--label);
}

.body-container {
  padding: 0 25px;
  max-width: 600px;
  min-width: 210px;
  margin: auto;
  position: relative;
  z-index: 1;
  padding-top: 85px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --element-bg-blur-color: rgba(242, 242, 242, 0.6);
    --header-bg-color: rgba(252, 252, 253, 0.8);
    /*--header-bg-color: #fafafc;*/
    --header-border-color: rgba(0,0,0,0.16);
    --header-logo-color: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-bg-color: rgba(50, 50, 51, 0.6);
    /*--header-bg-color: #282829;*/
    --header-border-color: rgba(255,255,255,0.24);
    --header-logo-color: rgb(245,245,247);
    --element-bg-blur-color: rgba(24, 24, 24, 0.7);
  }
}

.webpage-title {
  background: var(--systemPink);
  background: -webkit-linear-gradient(to right, #623DAE 15%, var(--systemPink) 85%);
  background: -moz-linear-gradient(to right, #623DAE 15%, var(--systemPink) 85%);
  background: linear-gradient(to right, #623DAE 15%, var(--systemPink) 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;

}

li:first-of-type .item-title {
  font-weight: 700;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

li:not(li:first-of-type) .item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.source-name {
  font-weight: 900 !important;
  color: var(--systemGray);
  float: left;
}

.item-publish-date {
  float: right;
  color: var(--secondaryLabel);
  line-height: 22px;
}

/*/Big container for the list/*/
ul {
  list-style-type: none;
  padding: 0;
}

li {margin-bottom: 30px;
  background-color: var(--secondarySystemGroupedBackground);
  border-radius: 10px;
}

li:not(:first-of-type) {
  padding: 10px;
}

li:first-of-type .item-container  {
  padding: 10px 15px 15px;
  display: block;
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  background: var(--element-bg-blur-color);
  -webkit-backdrop-filter:saturate(180%) blur(80px);
  backdrop-filter: saturate(180%) blur(80px);
  border-radius: 0 0 10px 10px;
}

li:first-of-type img {
  background-color: var(--secondarySystemGroupedBackground);
  width: 100%;
  object-fit: cover;
  height: 320px;
  border-radius: 10px;
}

.item-link {
  text-decoration: none;
  color: var(--label);
}

img:not(li:first-of-type img) {
  background-color: var(--secondarySystemGroupedBackground);
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
}

.image:not(li:first-of-type .image)  {
  float: left;
  display: block;
  align-self: center;
  height: 40px;
  margin-right: 10px;
}

.media:not(li:first-of-type .media) {
  align-items: center;
  justify-content: left;
  display: flex;
  width: 100%;
}

li:first-of-type .media {
  position: relative;
}

.item-container:not(li:first-of-type .item-container) {
 vertical-align: middle;
 width: 100%;
}

.item-F-line {
  display: inline-block;
  width: 100%;
}

header { /* var(--header-bg-color) */
  background-color: var(--header-bg-color);
  padding: 10px 0px;
  position: fixed;
  display: block;
  z-index: 2;
  width: 100%;
  -webkit-backdrop-filter:saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  max-height: 44px;
  border-bottom: 1px solid var(--separator);
}

.logo-text {
  font-family: 'Bodoni Moda', serif !important;
  text-align: center;
  font-weight: 800 !important;
  opacity: 0.75;
  padding: 0 20px ;
}

.footer-container h5.logo-text {
  text-align: left !important;
  padding: 0 !important;
}
footer {
  background-color: var(--systemGray5);
  padding: 20px 0px 40px;
  border-top: 1px solid var(--separator);
  width: 100%;
}

.footer-container {
  max-width: 700px;
  min-width: 250px;
  margin: auto;
  padding: 0 30px;
}

.footer-container .footnote {
  color: var(--secondaryLabel);
}